nav{
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navbar-container{
    width: 100%;
    padding: 0.5rem 2rem;
    background-color: #1C2B78 !important;
    color: #ffffff;
    width: 100%;

    .container-fluid {
        padding: 0 !important;
        max-width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-img {
        height: 80px;
        width: 80px;
        display: inline-block;
        padding-block: 8px;        
        background-size: contain;
    }

    .header-logo {
        padding-right: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .header-text {
        padding-top:17px;
        color: #ffffff;
    }

    .navbar-title {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2;
        padding-left: 10px;
    }

    .navbar-version {
        padding-left: 10px;
    }
    .navbar-brand{
        display:flex;
        flex-wrap: wrap
    }
    .nav-links-container{  
        display: flex;
        button{
            font-family: 'Poppins', sans-serif;
            color: #ffffff;
        }
    }

}